body {
    background: url(https://i.pinimg.com/originals/f5/67/29/f56729bb448c11ac3405f4c6b2873a2c.jpg);
}

#gifs-appear-here {
  float: left;
}

#add-poke {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Chakra Petch', sans-serif;
  text-shadow:
    -1px -1px 0  #FF4500,
    1px -1px 0 #FF4500,
    -1px 1px 0 #FF4500,
    1px 1px 0 #FF4500; 
}

.poke {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Chakra Petch', sans-serif;
  text-shadow:
    -1px -1px 0  #FF4500,
    1px -1px 0 #FF4500,
    -1px 1px 0 #FF4500,
    1px 1px 0 #FF4500; 
}

#spice {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Chakra Petch', sans-serif;
  color: yellow;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

button,
div,
form,
input {
  margin: 10px;
}